%h4 Bank transfer requests
%table.pure-table
  %thead
    %tr
      %th User
      %th Amount
      %th Payment code
      %th Status
      %th Actions
  %tbody
    - (@bank_transfer_requests || []).each do |r|
      %tr
        %td= r.user.name
        %td= euro r.amount
        %td= r.payment_code
        %td
          = r.status.capitalize
          %span.glyphicon.glyphicon-question-sign{"data-toggle" => "tooltip", "data-placement": 'top', title: r.decline_reason }
        %td
          - if r.approvable?
            = link_to admin_bank_transfer_request_approve_path(r), method: :post, class: "btn btn-success btn-xs" do
              %i.glyphicon.glyphicon-ok
              Accept
          - if r.pending?
            %hr
          - if r.declinable?
            = form_with url: admin_bank_transfer_request_decline_path(r) do |f|
              = f.text_field :reason, class: "input-sm", placeholder: "Reason"
              = f.button class: "btn btn-danger btn-xs" do
                %i.glyphicon.glyphicon-ok
                Decline
