%h2
  = @user.name
  %small= "balance: #{euro_from_cents @user.balance}"

= render 'transactions/new'

#transactions-filters.panel.panel-default
  .panel-heading
    %h3.panel-title Filters
  .panel-body
    .row
      .col-md-8.col-md-offset-2
        .bound.input-listen{ 'data-input-type': 'date-range',
          'data-filter-name': 'Time' }
          .row
            .col-md-6
              .input-group
                %span.input-group-addon
                  %span.glyphicon.glyphicon-calendar
                %input.lower-bound.form-control.filter-align.value-thing.pure-group-addon{type: 'date',
                  placeholder: 'After'}
            .col-md-6
              .input-group
                %span.input-group-addon
                  %span.glyphicon.glyphicon-calendar
                %input.upper-bound.form-control.filter-align.value-thing.pure-group-addon{type: 'date', placeholder: 'Before' }
        .bound.input-listen.pure-u-1{ 'data-input-type': 'number-range',
          'data-filter-name': 'Amount' }
          .row
            .col-md-6
              .input-group
                %span.input-group-addon
                  %span.glyphicon.glyphicon-euro
                %input.lower-bound.form-control.filter-align.value-thing{type: 'number',
                  placeholder: 'Minimum'}
            .col-md-6
              .input-group
                %span.input-group-addon
                  %span.glyphicon.glyphicon-euro
                %input.upper-bound.form-control.filter-align.value-thing{type: 'number',
                  placeholder: 'Maximum'}
        .row
          .col-md-4
            .input-listen{ 'data-input-type': 'text', 'data-filter-name': 'Issuer' }
              = grouped_collection_select nil, nil, [User, Client], :all, :name, :name, :name,
                { include_blank: true },
                { data: { placeholder: "Filter on Issuer", width: 265 }, class: "select2-selector form-control value-thing" }
          .col-md-4
            .input-listen{ 'data-input-type': 'text', 'data-filter-name': 'Peer' }
              = select_tag nil,
                options_from_collection_for_select(User.all.order(:name), :name, :name),
                include_blank: true, class: "select2-selector form-control value-thing", data: { placeholder: "Filter on Peer", width: 265 }
          .col-md-4
            .input-listen{ 'data-input-type': 'text', 'data-filter-name': 'Message' }
              %input.live-updating.value-thing{type: 'text', placeholder: 'Filter on Message',
                class: "form-control" }

%table#transactions.pure-table.pure-table-striped{data: { source: user_transactions_path(@user) }}
  %thead
    %tr
      %th Time
      %th Amount
      %th Peer
      %th Issuer
      %th Message
  %tbody
%h3="Zeus account number: BE32 9799 9370 6502"
