<%- title "Transactions" %>

<%= render 'transactions/new' %>

<div class="shadow sm:rounded-md sm:overflow-hidden sm:mt-6">
  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
    <h2 class="text-2xl font-semibold leading-normal mt-0 mb-5 text-gray-800">Overview</h2>

    <%= render 'transactions/filter' %>

    <div data-controller="datatable" class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table
        class="datatable w-full text-sm text-left text-gray-500"
        id="transactions"
        data-source="<%= user_transactions_datatable_path(@user) %>"
      >
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3">Time</th>
            <th scope="col" class="px-6 py-3">Amount</th>
            <th scope="col" class="px-6 py-3">Peer</th>
            <th scope="col" class="px-6 py-3">Issuer</th>
            <th scope="col" class="px-6 py-3">Message</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-300"></tbody>
      </table>
    </div>
  </div>
</div>

<div class="shadow sm:rounded-md sm:overflow-hidden sm:mt-6">
  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
    <h2 class="text-2xl font-semibold leading-normal mt-0 mb-5 text-gray-800">API usage</h2>

    <div data-controller="clipboard">
      <label for="api_key" class="block mb-2 text-sm font-medium text-gray-900">API key</label>
      <input id="api_key" value="<%= @user.key %>" data-clipboard-target="source" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" readonly="true">
      <div>
        Don't share this with anyone, you don't want people to pay with your money.
      </div>
      <button data-action="clipboard#copy" class="inline-flex mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2 -ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
        </svg>
        Copy to clipboard
      </button>
      <%= button_to reset_key_user_path(@user),
            { form: { data: { turbo_confirm: "Are you sure? This will cause all existing integrations to stop working." }},
              form_class: 'reset_key inline',
              class: 'inline-flex text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center' } do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2 -ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
        </svg>
        Reset
      <% end %>
    </div>

    <div data-controller="clipboard">
      <label for="example" class="block mb-2 text-sm font-medium text-gray-900">Example</label>
      <textarea data-clipboard-target="source" id="example" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" readonly="true">
curl '<%= api_v1_transactions_url %>' \
  -H "Accept: application/json"  \
  -H "Authorization: Token token=<%= @user.key %>" \
  -X POST \
  --data-raw 'transaction%5Bdebtor%5D=<%= @user.name %>&transaction%5Bcreditor%5D=silox&transaction%5Bmessage%5D=You script kiddie!&transaction%5Beuros%5D=5'</textarea>
      <button data-action="clipboard#copy" class="inline-flex mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2 -ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
        </svg>
        Copy to clipboard
      </button>
    </div>
  </div>
</div>
