<%= render 'transactions/new' %>

<div class="shadow sm:rounded-md sm:overflow-hidden sm:mt-6">
  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
    <h2 class="text-2xl font-semibold leading-normal mt-0 mb-5 text-gray-800">Overview</h2>

    <div data-controller="datatable" class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table
        class="datatable w-full text-sm text-left text-gray-500 dark:text-gray-400"
        id="transactions"
        data-source="<%= user_transactions_datatable_path(@user) %>"
      >
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Time</th>
            <th scope="col" class="px-6 py-3">Amount</th>
            <th scope="col" class="px-6 py-3">Peer</th>
            <th scope="col" class="px-6 py-3">Issuer</th>
            <th scope="col" class="px-6 py-3">Message</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-300"></tbody>
      </table>
  </div>
  </div>
</div>

<div class="shadow sm:rounded-md sm:overflow-hidden sm:mt-6">
  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
    <h2 class="text-2xl font-semibold leading-normal mt-0 mb-5 text-gray-800">API usage</h2>

    <label for="api_key" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">API key</label>
    <input id="api_key" value="<%= @user.key %>" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly="true">
    <%= button_to "Reset",
      reset_key_user_path(@user),
      {form_class: 'reset_key', class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center'} %>
    <div>
      Don't share this with anyone, you don't want people to pay with your money.
    </div>

    <div data-controller="clipboard">
      <label for="example" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Example</label>
      <textarea data-clipboard-target="source" id="example" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly="true">
curl '<%= transactions_url %>' \
  -H "Accept: application/json"  \
  -H "Authorization: Token token=<%= @user.key %>" \
  -X POST \
  --data-raw 'transaction%5Bdebtor%5D=<%= @user.name %>&transaction%5Bcreditor%5D=silox&transaction%5Bmessage%5D=You script kiddie!&transaction%5Beuros%5D=5'</textarea>
      <button data-action="clipboard#copy" class="mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
        Copy to clipboard
      </button>
    </div>
  </div>
</div>
