.card-wrapper
  - if @requests.any?
    .card
      .padded
        %h3 Requests
      - @requests.each do |r|
        .request.pure-g
          .pure-u-1-3
            %h4= r.message
            = r.creditor.name
          .pure-u-1-3
            = euro_from_cents r.amount
          .pure-u-1-3.actions
            .btn-group
              = link_to request_confirm_path(r), method: :post, class: 'btn btn-default btn-success' do
                %span.glyphicon.glyphicon-ok
              = link_to request_decline_path(r), method: :post, class: 'btn btn-default btn-danger' do
                %span.glyphicon.glyphicon-remove
          .clear-both
  - else
    .card.padded
      %span.info-message
        You have no open requests at the moment.
