<div class="p-4 max-w-xl bg-white rounded-lg border shadow-md sm:p-8">
  <div class="flex justify-between items-center mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900">Latest transactions</h5>
    <%= link_to "View all", current_user, class: "text-sm font-medium text-blue-600 hover:underline" %>
  </div>
  <div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200">
      <% @transactions.each do |t| %>
        <% t.symbolize_keys! %>
        <%- date = t[:time].is_a?(Time) ? t[:time] : Date.parse(t[:time]) %>
        <li class="py-3 sm:py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-shrink-0">
              <%= date.strftime('%d') %>
              <%= Date::MONTHNAMES[date.month][0..2] %>
            </div>
            <div class="flex-1 min-w-0">
              <p class="text-md text-gray-900 truncate">
                <%= t[:peer] %>
                <% if t[:peer] != t[:issuer] %>
                  <span class="text-xs">
                    <%= "issued by #{t[:issuer]}" %>
                  </span>
                <% end %>
              </p>
              <p class="text-sm font-medium text-gray-500 truncate">
                <%= t[:message] %>
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900">
              <%= euro_from_cents t[:amount] %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
