<%- title "Dashboard" %>

<div class="grid md:grid-cols-2 xs:grid-cols-1 gap-4">
  <div>
    <%= render 'transactions' %>
  </div>
  <div>
    <%= render 'transaction_form' %>
    <%= render 'requests' %>
    <%= render 'notifications' %>
    <%= render 'outgoing_requests' %>
  </div>
</div>
