<div class="pure-g">
  <div class="pure-u-7-12">
    <%= render 'transactions' %>
  </div>
  <div class="pure-u-5-12">
    <%= render 'transaction_form' %>
    <%= render 'requests' %>
    <%= render 'notifications' %>
    <%= render 'outgoing_requests' %>
  </div>
</div>
