<%- title "Dashboard" %>

<div class="flex flex-row">
  <div class="basis-1/2">
    <%= render 'transactions' %>
  </div>
  <div class="basis-1/2">
    <%= render 'transaction_form' %>
    <%= render 'requests' %>
    <%= render 'notifications' %>
    <%= render 'outgoing_requests' %>
  </div>
</div>
