<div class="pure-alert pure-alert-success hidden" id="transaction_success">
  Transaction created!
</div>

<%= render 'partials/form_errors', object: @transaction %>

<div class="shadow sm:rounded-md sm:overflow-hidden">
  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
    <h2 class="text-2xl font-semibold leading-normal mt-0 mb-5 text-gray-800">New</h2>

    <%= form_with model: @transaction, remote: true do |f| %><%= f.hidden_field :debtor, value: @user.name %>

      <div class="mb-6">
        <label for="creditor" class="block mb-2 text-sm font-medium text-gray-900">Creditor</label>
        <%= f.select :creditor,
                     options_from_collection_for_select(User.all.order(:name), :name, :name),
                     { include_blank: true },
                     { class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', required: true, data: { placeholder: "Creditor", width: 150 }} %>
      </div>

      <div class="mb-6">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Message</label>
        <div class="mt-1">
          <%= f.text_field :message, placeholder: "Message", size: 75, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", required: true %>
        </div>
        <p class="mt-2 text-sm text-gray-500">Keep this short and clear.</p>
      </div>

      <div class="mb-6">
        <label for="amount" class="block mb-2 text-sm font-medium text-gray-900">Amount</label>
        <div class="mt-1 flex rounded-md shadow-sm">
        <span class="inline-flex items-center px-3 rounded-l-lg border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm">
          €
        </span>
        <%= f.number_field :euros, value: amount(@transaction.amount),
                           placeholder: "0.00", step: 0.01,
                           class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-r-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ", size: 20, required: true,
                           max: (Rails.application.config.maximum_amount / 100 unless current_user.penning) %>
        </div>
      </div>

      <%= f.submit "Send it!", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" %>
    <% end %>
  </div>
</div>
