= @transaction.errors.full_messages.join(", ")
= simple_form_for @transaction do |f|
  = f.collection_select :creditor_id, User.all, :id, :name, {}, { class: 'select2-selector' }
  = f.input :amount
  = f.input :message, required: true
  = f.submit "Send it!"
