= render 'partials/form_errors', object: @transaction
= simple_form_for @transaction do |f|
  - if current_user.penning
    = f.collection_select :debtor, User.all, :name, :name, {}, { class: 'select2-selector' }
  - else
    = f.hidden_field :debtor, value: current_user.name
  = f.collection_select :creditor, User.all, :name, :name, {}, { class: 'select2-selector' }
  = f.input :amount
  = f.input :message, required: true
  .pure-controls
    = f.button :submit, "Send it!"
