= @transaction.errors.full_messages.join(", ")
= simple_form_for @transaction do |f|
  = f.hidden_field :debtor, value: current_user.name
  = f.collection_select :creditor, User.all, :name, :name, {}, { class: 'select2-selector' }
  = f.input :amount
  = f.input :message, required: true
  = f.submit "Send it!"
