.pure-u-1
  .menu
    = link_to 'Tab', root_path, class: 'menu-heading menu-item'
    .menu-list
      = link_to 'Transactions', current_user, class: 'menu-item'
      = link_to user_requests_path(current_user), class: 'menu-item' do
        Requests
        %span.badge= current_user.incoming_requests.open.size
      = link_to user_notifications_path(current_user), class: 'menu-item' do
        Notifications
        %span.badge= current_user.notifications.unread.size
      - if current_user.penning
        = link_to 'Zeus', User.zeus, class: 'menu-item'
        = link_to user_requests_path(User.zeus), class: 'menu-item' do
          Zeus Requests
          %span.badge= User.zeus.incoming_requests.size
        = link_to user_notifications_path(User.zeus), class: 'menu-item' do
          Zeus Notifications
          %span.badge= User.zeus.notifications.size
    .menu-list.menu-right
      %span.menu-item= euro_from_cents current_user.balance
      = link_to 'Sign out', sign_out_path, method: :delete, class: 'menu-item menu-item-signout'
