!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tab
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .pure-g
      .pure-u-1
        .pure-menu.pure-menu-horizontal
          %ul.pure-menu-list
            - if current_user
              %li.pure-menu-item
                = link_to current_user.name.capitalize, current_user, class: "pure-menu-link"
              - if current_user.penning
                %li.pure-menu-item
                  =link_to "Zeus", User.zeus, class: "pure-menu-link"
              %li.pure-menu-item
                = link_to 'Requests', user_requests_path(current_user), class: 'pure-menu-link'
              %li.pure-menu-item
                = link_to 'Notifications', user_notifications_path(current_user), class: 'pure-menu-link'
      .pure-u-1
        = render 'partials/flash'
        = yield
